.projects {
  max-width: 129rem;
  margin: 0 auto;
  padding: 10rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__caption {
    width: 65%;
    margin-bottom: 3rem;
    text-align: center;

    .projects-title {
      color: var(--green);
      font-size: 2em;
    }

    .projects-desc {
      margin: 2rem 0;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  .projects {
    padding: 5rem 2rem;
    &__caption {
      width: 100%;
    }
  }
}