.projects {
  // height: 100vh; //todo
  padding: 10rem 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__caption {
    width: 65%;
    margin-bottom: 3rem;

    .projects-title {
      color: var(--green);
      font-size: 2em;
    }

    .projects-desc {
      margin: 2rem 0;
    }
  }

  &__items {
    // width: 100%; todo
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}

@media only screen and (max-width: 1000px) {
  .projects {
    padding: 5rem 2rem;
    &__caption {
      width: 100%;
    }
  }
}