.project {
  border: 0.2rem solid rgb(190, 240, 180);
  margin: 2rem 1rem;
  width: 30rem; //todo
  height: 18rem; //todo
  overflow: hidden; //todo

  &__browser {
    height: 2rem;
    background-color: rgb(190, 240, 180);
    display: flex;
    align-items: center;
    z-index: 9;
    position: sticky;
    
    .circle {
      height: 0.6rem;
      width: 0.6rem;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 0 0.1rem;
    }
  }

  &__link {

    .project-screenshot {
      width: 100%;
      transition: all 4s ease;
    }
  }

  &:hover .project-screenshot{
    transform: translateY(-70%);
  }
}