.about {
  
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-bottom: 4rem;
    color: var(--green);
    text-align: center;
  }

  .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__left {
      height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .card {
        width: 70%;
        height: 60vh;
        overflow: hidden;
        // box-shadow: -50px -42px 0px -5px rgba(11, 11, 11, 0.49);
        
        &__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
    }
    
    &__right {
      padding: 5rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .about-desc {
        margin: 1rem 0;
      }

      .btns {
        margin-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;

        .btn-download { //todo mixin
          text-decoration: none;
          color: var(--white);
          background-color: DodgerBlue;
          border: none;
          color: var(--white);
          padding: 1.2rem 3rem;
          cursor: pointer;
          font-size: 1.5rem;
          z-index: 88888;
    
          &:hover {
            background-color: RoyalBlue;
          }
        }
        .btn-projects {
          text-decoration: none;
          background-color: var(--green);
          border: none;
          color: var(--white);
          padding: 1.2rem 3rem;
          cursor: pointer;
          font-size: 1.5rem;  
          transition: all .3s;
    
          &:hover {
            background-color: RoyalBlue;
          }
        }
      }
  
      .divider {
        margin-top: 2rem;
        width: 100%;
        background-color: var(--green);
        height: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .about {
    height: auto;
    flex-direction: column;
    padding-top: 10rem;
    .about-content {
      
      &__left {
        .card {
          width: 50%;
          height: 100%;  
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    .about-content {
      flex-direction: column;
      &__left {
        .card {
          width: 60%;
          height: 100%;  
        }
      }
      &__right {
        padding: 5rem 2rem;
      }
    }
    }
}